<% provide(:title, "Course") %>

<div class="navigation-bg">
</div>

<div class="row">
<div class="container">
<div class="col-md-7">
		<section id='main_body'>
			<div class="page-header">
			  <h1>课程安排</h1>
			</div>
		<table class="table table-bordered">
			<tbody>
		  <tr>
				<td>每周二,四（黄兴路道场）</td>
				<td>19:00-21:00</td>
			</tr>
		  <tr>
				<td>每周一（隆昌路道场）</td>
				<td>19:00-21:00</td>
			</tr>
		  <tr>
				<td>每周六（隆昌路道场）</td>
				<td>14:30-16:30</td>
			</tr>
		</tbody>
		</table>
		<p>参加练习请至少提前15~30分钟到道场，练习时需穿着合气道道服，女生建议准备贴身背心及头绳。</p>
		<p>如果是首次参加道场练习，请事先阅读<a href="/begin" title="Begin">道场礼仪</a>，以帮助您更快的进入练习状态。</p>

		<div class="page-header">
			  <h1>练习费用</h1>
			</div>
		<table class="table table-bordered">
		  <thead>
		    <tr>
		      <th colspan="3" class="text-center">
		      	上海秋风馆合气道收费一览（RMB）
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row"></th>
		      <td>会员</td>
		      <td>访客</td>
		    </tr>
		    <tr>
		      <th scope="row">月卡</th>
		      <td>300</td>
		      <td>-</td>
		    </tr>
		    <tr>
		      <th scope="row">年卡</th>
		      <td>2800</td>
		      <td>-</td>
		    </tr>
		    <tr>
		      <th scope="row">次卡（10次，三个月内有效)</th>
		      <td>400</td>
		      <td>-</td>
		    </tr>
		    <tr>
		      <th scope="row">单次</th>
		      <td>-</td>
		      <td>50</td>
		    </tr>
		    <tr>
		      <td colspan="3">
						*单次练习费用限短期到访的合气道经验者。<br />
						*已缴练习费用仅限本人使用。
					</td>
		    </tr>
		  </tbody>
		</table>
		</section>

		<div class="row">
				<div class="col-md-4">
			    <div class="thumbnail">
			      <%= image_tag("aiki-1", size: "280") %>
			      <div class="caption">
			        <h3>合气道道服</h3>
			        <p>道服每套200元</p>
			      </div>
			    </div>
			  </div>

			  <div class="col-md-4">
			    <div class="thumbnail">
			      <%= image_tag("aiki-2", size: "280") %>
			      <div class="caption">
			        <h3>合气道夸</h3>
			        <p>夸每条200元</p>
			      </div>
			    </div>
			  </div>

			  <div class="col-md-4">
			    <div class="thumbnail">
			      <%= image_tag("aiki-3", size: "280") %>
			      <div class="caption">
			        <h3>合气刀、杖、外套</h3>
			        <p>武器每套300元</p>
			      </div>
			    </div>
			  </div>
		</div>

</div>
<div class="col-md-4 col-md-offset-1 student">
	<div class="page-header">
	  <h1>我们的学员</h1>
	</div>
	<ul class="list-inline">
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	  <li><%= image_tag("zbh-aikido", size: "50", class: "img-circle", alt: "Generic placeholder image") %></li>
	</ul>
</div>

</div>
</div>
