<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render 'layouts/header' %>
		
    <%= yield %>

  <!-- FOOTER -->
  <div class="container">
    <hr class="featurette-divider">
    <footer>
      <p class="pull-right"><a href="#">返回顶部</a></p>
      <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">FTGHUB提供技术支持</a></p>
    </footer>
  </div>
  
  </body>
</html>
